<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
<script src="/javascripts/bootstrap.bundle.min.js"></script>
<script src="/javascripts/color-modes.js"></script>
<link href="/stylesheets/bootstrap-icons.min.css" rel="stylesheet">

  <title>Workout page</title>
  
  
</head>
    <% include ./partial/navbar %>
<body>
    <main>
     <h1 class="text-center mt-5 text-warning">About Us</h1>
     <div class="container">
     <div class="row featurette">  
        <div class="col-md-7">
          <h2 class="featurette-heading fw-normal lh-1">Dr. Daw Hnin Hnin Htunn <span class="text-body-secondary">Head of IT DepartMent</span></h2>
          <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
        </div>
        <div class="col-md-5">
            <img src="/images/slide2.jpeg" alt="" width="" class="img-fluid">
        </div>
      </div>
      <hr class="featurette-divider"/>
     
      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading fw-normal lh-1">Teachel PHyo <span class="text-body-secondary">Project Supervisor.</span></h2>
          <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
        </div>
        <div class="col-md-5 order-md-1">
          <img src="/images/slide.jpg" alt="" class="img-fluid">
        </div>
      </div>
      <hr class="featurette-divider"/>
      <div class="row">
        <div class="col-lg-3">
          <img src="/images/slide4.jpg" alt="" class="img-fluid rounded-circle" width="150px" height="220px">
          <h2 class="fw-normal"><b><i>Thwe Wutyi Chaw</i></b></h2>
          <p> 2BE IT(<i>Second year)</i></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3">
          <img src="/images/slide4.jpg" alt="" class="img-fluid rounded-circle" width="160px" height="160px">
          <h2 class="fw-normal"><b><i>Ei ThaZin Phyoe</i></b></h2>
          <p> 2BE IT(<i>Second year)</i></p>
          
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3">
          <img src="/images/slide4.jpg" alt="" class="img-fluid rounded-circle" width="160px" height="160px">
          <h2 class="fw-normal"><b><i>Ei Pyae Phyoe</i></b></h2>
          <p> 2BE IT(<i>Second year)</i></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3">
          <img src="/images/slide4.jpg" alt="" class="img-fluid rounded-circle" width="160px" height="160px">
          <h2 class="fw-normal"><b><i>Lin latt Shwe Sin</i></b></h2>
          <p> 2BE IT(<i>Second year)</i></p>
        </div><!-- /.col-lg-4 -->
      </div>
    </div>
    </main>
<% include ./partial/footer %>
</body>
</html>