<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
<script src="/javascripts/bootstrap.bundle.min.js"></script>
<script src="/javascripts/color-modes.js"></script>
<link href="/stylesheets/bootstrap-icons.min.css" rel="stylesheet">

  <title>Home Page</title>
  
  
</head>

<body>
  <main>
 <% include ./partial/navbar %>
 <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/images/slide.jpg" alt="" class="d-block w-100"/>
      <div class="container">
        <div class="carousel-caption text-start">
          <h1>Welcome to our Page</h1>
          <p class="opacity-75">Keep up your hard work! Your progress is amazing today.</p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/images/slide2.jpeg" alt="" class="d-block w-100"/>
      <div class="container">
        <div class="carousel-caption">
          <h1>Keep Moving!!!</h1>
          <p>If you want to fly, give up everything that weight you down</p>
        
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/images/slide3.jpeg" alt="" class="d-block w-100"/>
      <div class="container">
        <div class="carousel-caption text-end">
          <h1>One more for good measure.</h1>
          <p>Your Step today will be Your Beauty in next</p>
        
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="container">
  <h1 class="my-3">Recent Workout</h1>
  <div class="row">
    <% for(var i=0 ; i < recents.length ; i++) {%>
    <div class="col-sm-12 col-md-6 col-lg-4 p-1">
      <div class="card">
        <img src="<%= recents[0].cover %>" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= recents[i].title %></h5>
          <p class="card-text"><%= recents[i].description %></p>
        </div>
        <div class="card-footer">
          <small class="text-body-secondary">Last updated <%= recents[i].create %></small>
        </div>
      </div>
    </div>
  <%}%>
   
 
 </div>   
 <div class="row my-3">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="card text-center">
      <div class="card-header">
        <h2>Diet Plan</h2>
      </div>
      <div class="card-body">
        <h5 class="card-title"><h3><b>Diet Plan Calculation Process</b></h3></h5>
         <div class="row">
           <div class="col-sm-12 col-md-12 col-lg-4">
            <div class="card text-bg-warning mb-3 mx-auto" style="max-width: 18rem;">
              <div class="card-header">
                <h3><b><i>Process 1</i></b></h3></div>
              <div class="card-body">
                <!-- <h5 class="card-title">Title</h5> -->
                <p class="card-text"><i><b>The healthiest diet based on the plants and whole foods
                  not,processed food.Fat is a necessary nutrients.Plus, it add flavour and make you more
                  satisfied.</i></b></p>
              </div>
            </div>
            
           </div>
           <div class="col-sm-12 col-md-12 col-lg-4">
            <div class="card text-bg-info mb-3 mx-auto" style="max-width: 18rem;">
              <div class="card-header"><h3><b><i>Process 2</i></b></h3></div>
              <div class="card-body">
                <!-- <h5 class="card-title">Title</h5> -->
                <p class="card-text"><b><i>Our calculation process need the data about of your body,
                 weight,height,pound........So,If you want to know your BMR , <b>Click</b>the 
                 button
                </i></b></p>
              </div>
            </div>
            
           </div>
           <div class="col-sm-12 col-md-12 col-lg-4">
            <div class="card text-bg-success mb-3 mx-auto" style="max-width: 18rem;">
              <div class="card-header"><h3><b><i>Process 3</i></b></h3></div>
               <div class="card-body">
                <!-- <h5 class="card-title">Title</h5> -->
                <p class="card-text"><i><b>By calculation your body BMR,You can create your daily 
                  diet plan, not too much in calorie and less in balancy.So,Try it out.</i></b>
                </p>
              </div>
            </div>
            
           </div>
         </div>
        <a href="diet" class="btn btn-primary"><b><i>Let's calculate</i></b></a>
      </div>
      
    </div>
  </div>
 </div>
 <div class="row my-3">
  <div class="col border border-primary rounded border-2 pb-3">
    <h3 class="text-center my-5">Quote For You</h3>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <figure class="text-center">
            <blockquote class="blockquote">
              <p>Don't try to remove fat from your cooking</p>
            </blockquote>
            <figcaption class="blockquote-footer">
              Sandra Melchior <cite title="Source Title">head chef at Sun Bistro</cite>
            </figcaption>
          </figure>
        </div>
        <div class="carousel-item">
          <figure class="text-center">
            <blockquote class="blockquote">
              <p>Smarting body can attract any guys.Our website is first step to guy. </p>
            </blockquote>
            <figcaption class="blockquote-footer">
              Someone famous in <cite title="Source Title">Pathin Technology University</cite>
            </figcaption>
          </figure>
        </div>
        <div class="carousel-item">
          <figure class="text-center">
            <blockquote class="blockquote">
              <p>A regular exercise is also a vital part of any weight loss plan.</p>
            </blockquote>
            <figcaption class="blockquote-footer">
              By Carl Rivera<cite title="Source Title">British</cite>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
    
  </div>
 </div>
</main>

<% include ./partial/footer %>
</body>
</html>